.new-item-modal
  background rgba(0, 0, 0, 0.47)
  width 100vw
  height 100vh
  position absolute
  z-index 101
  top 0
  left 0
  display flex
  justify-content center
  align-items center
  .container
    background white
    border-radius 10px
    padding 40px
    color #222
    form
      display flex
      justify-content center
      flex-direction column
